---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app n8n
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"

    controllers:
      n8n:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: n8n-secret
        containers:
          app:
            image:
              repository: docker.io/n8nio/n8n
              tag: 2.9.1
            env:
              # Isolating N8N
              N8N_PERSONALIZATION_ENABLED: false
              N8N_VERSION_NOTIFICATIONS_ENABLED: false
              N8N_TEMPLATES_ENABLED: false
              # URL
              N8N_PORT: &port 5678
              N8N_HOST: &host "n8n.g-eye.io"
              WEBHOOK_URL: "https://n8n.g-eye.io"
              # Public API
              N8N_PUBLIC_API_DISABLED: false
              N8N_PUBLIC_API_SWAGGERUI_DISABLED: true

              NODE_FUNCTION_ALLOW_BUILTIN: "*"
              GENERIC_TIMEZONE: Europe/Paris

              N8N_LOG_LEVEL: debug
              N8N_LOG_OUTPUT: console, file

              N8N_DIAGONISTICS_ENABLED: false
              N8N_HIRING_BANNER_ENABLED: false
              N8N_USER_MANAGEMENT_DISABLED: true

              N8N_METRICS: true
              N8N_USER_FOLDER: /home/node
              N8N_PROXY_HOPS: "1"
              #NODE_FUNCTION_ALLOW_EXTERNAL: databricks/sql
            envFrom: *envFrom
    service:
      app:
        controller: n8n
        ports:
          http:
            port: *port

    route:
      app:
        annotations:
          gatus.home-operations.com/enabled: "true"
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
        hostnames: ["{{ .Release.Name }}.g-eye.io"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: n8n
        advancedMounts:
          n8n:
            app:
              - path: /home/node/.n8n

    resources:
      requests:
        cpu: 20m
        memory: 128Mi
      limits:
        memory: 512Mi
