---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: littlelinks
  namespace: tools
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  values:
    controllers:
      main:
        replicas: 2
        containers:
          main:
            image:
              repository: ghcr.io/techno-tim/littlelink-server
              tag: latest
            env:
              TZ: "${TIMEZONE}"
              META_TITLE: Moustapha Gueye
              META_DESCRIPTION: Moustapha Gueye Links Page
              META_AUTHOR: Moustapha Gueye
              THEME: Dark
              FAVICON_URL: https://avatars.githubusercontent.com/u/39132800?v=4
              AVATAR_URL: https://avatars.githubusercontent.com/u/39132800?v=4
              AVATAR_2X_URL: https://avatars.githubusercontent.com/u/39132800?v=4
              AVATAR_ALT: Moustapha Gueye
              NAME: Moustapha Gueye
              BIO: Hey! Feel free to reach out to me on any of the below.
              GITHUB: https://ln.g-eye.io/sgAqm
              LINKED_IN: https://ln.g-eye.io/CNcKO
              TWITTER: https://ln.g-eye.io/x3IV3
              EMAIL: mgueye01@gmail.com
              EMAIL_TEXT: Email Me!
              INSTAGRAM: https://ln.g-eye.io/XCU80
              BUTTON_ORDER: EMAIL,GITHUB,LINKED_IN,TWITTER,INSTAGRAM
              # CUSTOM_BUTTON_TEXT: Documentation,Recommended Gear
              # CUSTOM_BUTTON_URL: https://l.technotim.live/docs,https://l.technotim.live/gear
              # CUSTOM_BUTTON_COLOR: '#000000,#000000'
              # CUSTOM_BUTTON_TEXT_COLOR: '#ffffff,#ffffff'
              # CUSTOM_BUTTON_ALT_TEXT: Tech documentation site for my videos and more,Recommended Gear
              # CUSTOM_BUTTON_NAME: DOCUMENTATION,GEAR
              # CUSTOM_BUTTON_ICON: fas file-alt,fas fa-cog
              # TWITCH: https://www.twitch.tv/technotim/
              # DISCORD: https://discord.gg/DJKexrJ
              # TIKTOK: https://www.tiktok.com/@technotim
              # KIT: https://kit.co/TechnoTim
              # FACEBOOK: https://facebook.com
              # FACEBOOK_MESSENGER: https://facebook.com
              # PRODUCT_HUNT: https://www.producthunt.com/
              # SNAPCHAT: https://www.snapchat.com/
              # SPOTIFY: https://www.spotify.com/
              # REDDIT: https://www.reddit.com/
              # MEDIUM: https://medium.com
              # PINTEREST: https://www.pinterest.com/
              # EMAIL_ALT: you@example.com
              # FIGMA: https://figma.com
              # TELEGRAM: https://telegram.org/
              # STEAM: https://steamcommunity.com/
              # VIMEO: https://vimeo.com/
              # WORDPRESS: https://wordpress.com/
              # GOODREADS: https://www.goodreads.com/
              # SKOOB: https://www.skoob.com.br/
              # FOOTER: Thanks for stopping by!
    service:
      main:
        controller: main
        ports:
          http:
            port: 3000
    ingress:
      main:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.g-eye.io
        hosts:
          - host: &host me.g-eye.io
            paths:
              - path: "/"
                service:
                  identifier: main
        tls:
          - hosts:
              - *host
