---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: paperless-gpt
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: paperless-gpt-secret
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: openai
    - extract:
        key: paperless
