# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app buildkit
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      buildkit:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            args:
            - --root
            - /cache
            - --addr
            - unix:///run/buildkit/buildkitd.sock
            - --addr
            - tcp://0.0.0.0:1234
            - --tlscacert
            - /certs/ca.pem
            - --tlscert
            - /certs/cert.pem
            - --tlskey
            - /certs/key.pem
            image:
              repository: moby/buildkit
              tag: v0.27.0@sha256:054d632d0d7e94b11cdc6048674773499a5170cf7d8ce0c326daaff6be43c8e0
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              limits:
                cpu: 2
                memory: 0.6Gi
              requests:
                cpu: 200m
                ephemeral-storage: 10Gi
                memory: 0.6Gi
            securityContext:
              privileged: true
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/arch: amd64
    persistence:
      cache:
        type: emptyDir
      certs:
        globalMounts:
        - path: /certs
        name: buildkit-daemon-certs
        type: secret
    service:
      app:
        controller: buildkit
        ports:
          mtls:
            enabled: true
            port: 1234
