---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gitea-runner-config
  namespace: dev
data:
  config.yaml: |
    log:
      level: info

    runner:
      file: .runner
      capacity: 1
      timeout: 3h
      insecure: false
      fetch_timeout: 5s
      fetch_interval: 2s
      labels:
        - "ubuntu-latest:docker://node:20-bookworm"
        - "ubuntu-22.04:docker://node:20-bookworm"
        - "node:docker://node:20-bookworm"
        - "playwright:docker://mcr.microsoft.com/playwright:v1.48.0-jammy"

    cache:
      enabled: true
      dir: ""

    container:
      network: ""
      privileged: false
      options:
      workdir_parent:
