---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gitea-runner-config
  namespace: dev
data:
  config.yaml: |
    log:
      level: debug

    runner:
      file: /data/.runner
      capacity: 2
      timeout: 3h
      insecure: false
      fetch_timeout: 5s
      fetch_interval: 2s

    cache:
      enabled: true
      dir: /data/cache

    container:
      network: ""
      privileged: false
      options:
      workdir_parent:
      valid_volumes: []
      docker_host: tcp://localhost:2375
      force_pull: false
