---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: harbor-registry-credentials
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: harbor-registry-credentials
    creationPolicy: Owner
    template:
      engineVersion: v2
      type: kubernetes.io/dockerconfigjson
      data:
        .dockerconfigjson: |
          {
            "auths": {
              "harbor.g-eye.io": {
                "username": "{{ .HARBOR_REGISTRY_USER }}",
                "password": "{{ .HARBOR_REGISTRY_PASS }}",
                "auth": "{{ printf "%s:%s" .HARBOR_REGISTRY_USER .HARBOR_REGISTRY_PASS | b64enc }}"
              }
            }
          }
  dataFrom:
    - extract:
        key: elgato-photo
