---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: elgato-photo
spec:
  parentRefs:
    - name: external
      namespace: kube-system
      sectionName: https
  hostnames:
    - elgato-photo.fr
    - www.elgato-photo.fr
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: elgato-photo-main
          port: 3000
