---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/image.toolkit.fluxcd.io/imagepolicy_v1.json
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImagePolicy
metadata:
  name: elgato-photo
  namespace: default
spec:
  imageRepositoryRef:
    name: elgato-photo
  filterTags:
    # Match timestamp tags like 20260110-021616 and extract as number
    pattern: '^(?P<date>\d{8})-(?P<time>\d{6})$'
    extract: '$date$time'
  policy:
    numerical:
      order: asc
