---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/image.toolkit.fluxcd.io/imagepolicy_v1beta2.json
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImagePolicy
metadata:
  name: elgato-photo
  namespace: default
spec:
  imageRepositoryRef:
    name: elgato-photo
  filterTags:
    # Match timestamp tags like 20250111-163045
    pattern: '^(?P<ts>\d{8}-\d{6})$'
    extract: '$ts'
  policy:
    alphabetical:
      order: desc
