---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app lelabo-crm
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      lelabo-crm:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 1001
            runAsGroup: 1001
            runAsNonRoot: true
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
            envFrom: &envFrom
              - secretRef:
                  name: lelabo-crm-secret
        containers:
          app:
            image:
              repository: twentycrm/twenty
              tag: v1.18.1
            env:
              NODE_PORT: &port 3000
              SERVER_URL: "https://lelabo-crm.g-eye.io"
              REDIS_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: redis-lelabo-crm-secret
                    key: redis-password
              SIGN_IN_PREFILLED: "false"
              # Google OAuth Authentication
              AUTH_GOOGLE_ENABLED: "true"
              MESSAGING_PROVIDER_GMAIL_ENABLED: "true"
              CALENDAR_PROVIDER_GOOGLE_ENABLED: "true"
              AUTH_GOOGLE_CLIENT_ID: "$(GOOGLE_CLIENT_ID)"
              AUTH_GOOGLE_CLIENT_SECRET: "$(GOOGLE_CLIENT_SECRET)"
              AUTH_GOOGLE_CALLBACK_URL: "https://lelabo-crm.g-eye.io/auth/google/redirect"
              AUTH_GOOGLE_APIS_CALLBACK_URL: "https://lelabo-crm.g-eye.io/auth/google-apis/get-access-token"
              # Email Configuration
              EMAIL_FROM_ADDRESS: "lelabo-crm@g-eye.io"
              EMAIL_FROM_NAME: "LeLabo CRM"
              EMAIL_SMTP_HOST: "smtp.eu.mailgun.org"
              EMAIL_SMTP_PORT: "587"
              EMAIL_SMTP_USER: "postmaster@g-eye.io"
              EMAIL_SMTP_PASSWORD: "$(MAILGUN_SMTP_PASSWORD)"
              STORAGE_TYPE: "s3"
              STORAGE_S3_REGION: "garage"
              STORAGE_S3_NAME: "lelabo-crm"
              STORAGE_S3_ENDPOINT: "http://nas.g-eye.tech:3900"
              ACCESS_TOKEN_EXPIRES_IN: "7d"
              LOGIN_TOKEN_EXPIRES_IN: "1h"
              DISABLE_DB_MIGRATIONS: "false"
              PG_DATABASE_URL: "postgres://$(LELABO_CRM_POSTGRES_USER):$(LELABO_CRM_POSTGRES_PASS)@postgres16-rw.databases.svc.cluster.local:5432/$(LELABO_CRM_POSTGRES_DB)"
              REDIS_URL: "redis://:$(REDIS_PASSWORD)@redis-lelabo-crm-master.databases.svc.cluster.local:6379"
              CACHE_STORAGE_TYPE: "redis"
              MESSAGE_QUEUE_TYPE: "bull-mq"
              TIMEZONE: "Europe/Paris"
            envFrom: *envFrom
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /readyz
                    port: *port
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 30
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 1000m
                memory: 4Gi
              limits:
                memory: 4Gi
                cpu: 1000m
      lelabo-crm-worker:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 1001
            runAsGroup: 1001
            runAsNonRoot: true
        containers:
          app:
            image:
              repository: twentycrm/twenty
              tag: v1.18.1
            command: ["yarn", "worker:prod"]
            env:
              SERVER_URL: "https://lelabo-crm.g-eye.io"
              REDIS_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: redis-lelabo-crm-secret
                    key: redis-password
              # Google OAuth Authentication
              AUTH_GOOGLE_ENABLED: "true"
              MESSAGING_PROVIDER_GMAIL_ENABLED: "true"
              CALENDAR_PROVIDER_GOOGLE_ENABLED: "true"
              AUTH_GOOGLE_CLIENT_ID: "$(GOOGLE_CLIENT_ID)"
              AUTH_GOOGLE_CLIENT_SECRET: "$(GOOGLE_CLIENT_SECRET)"
              AUTH_GOOGLE_CALLBACK_URL: "https://lelabo-crm.g-eye.io/auth/google/redirect"
              AUTH_GOOGLE_APIS_CALLBACK_URL: "https://lelabo-crm.g-eye.io/auth/google-apis/get-access-token"
              # Email Configuration
              EMAIL_FROM_ADDRESS: "lelabo-crm@g-eye.io"
              EMAIL_FROM_NAME: "LeLabo CRM"
              EMAIL_SMTP_HOST: "smtp.eu.mailgun.org"
              EMAIL_SMTP_PORT: "587"
              EMAIL_SMTP_USER: "postmaster@g-eye.io"
              EMAIL_SMTP_PASSWORD: "$(MAILGUN_SMTP_PASSWORD)"
              STORAGE_TYPE: "s3"
              STORAGE_S3_REGION: "garage"
              STORAGE_S3_NAME: "lelabo-crm"
              STORAGE_S3_ENDPOINT: "http://nas.g-eye.tech:3900"
              DISABLE_DB_MIGRATIONS: "false"
              PG_DATABASE_URL: "postgres://$(LELABO_CRM_POSTGRES_USER):$(LELABO_CRM_POSTGRES_PASS)@postgres16-rw.databases.svc.cluster.local:5432/$(LELABO_CRM_POSTGRES_DB)"
              REDIS_URL: "redis://:$(REDIS_PASSWORD)@redis-lelabo-crm-master.databases.svc.cluster.local:6379"
              CACHE_STORAGE_TYPE: "redis"
              MESSAGE_QUEUE_TYPE: "bull-mq"
              TIMEZONE: "Europe/Paris"
            envFrom: *envFrom
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 250m
                memory: 1Gi
              limits:
                memory: 2Gi
                cpu: 1000m
    service:
      app:
        controller: lelabo-crm
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/enabled: "true"
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
        hostnames:
          - "lelabo-crm.g-eye.io"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      data:
        existingClaim: lelabo-crm
        advancedMounts:
          lelabo-crm:
            app:
              - path: /app/data
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      docker-data:
        type: emptyDir
        globalMounts:
          - path: /app/.docker-data
