---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app changedetection
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/dgtlmoon/changedetection.io
              tag: "0.53.5"
            env:
              PORT: &port 5000
            # resources:
            #   requests:
            #     cpu: 10m
            #     memory: 100Mi
            #   limits:
            #     memory: 250Mi
          browser:
            image:
              pullPolicy: Always
              repository: docker.io/browserless/chrome
              tag: "1-chrome-stable"
            env:
              - name: SCREEN_WIDTH
                value: "1920"
              - name: SCREEN_HEIGHT
                value: "1024"
              - name: SCREEN_DEPTH
                value: "16"
              - name: ENABLE_DEBUGGER
                value: "false"
              - name: PREBOOT_CHROME
                value: "true"
              - name: CONNECTION_TIMEOUT
                value: "300000"
              - name: MAX_CONCURRENT_SESSIONS
                value: "10"
              - name: CHROME_REFRESH_TIME
                value: "600000"
              - name: DEFAULT_BLOCK_ADS
                value: "true"
              - name: DEFAULT_STEALTH
                value: "true"
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/enabled: "true"
          gatus.home-operations.com/endpoint: |-
            conditions: ["len([BODY]) == 0"]
            dns:
              query-name: {{ .Release.Name }}.g-eye.io
              query-type: A
            url: 1.1.1.1
        hostnames:
          - "{{ .Release.Name }}.g-eye.io"
          - change.g-eye.io
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      datastore:
        existingClaim: *app
