---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImagePolicy
metadata:
  name: openclaw
spec:
  imageRepositoryRef:
    name: openclaw
  filterTags:
    pattern: '^(?P<date>\d{8})-(?P<time>\d{6})$'
    extract: '$date$time'
  policy:
    numerical:
      order: asc
