---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kopia
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kopia
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      kopia:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/kopia
              tag: 0.22.3@sha256:17ab64542280197a5368247deaefadc3e3bbe15714ab666c2455a06824e86efd
            env:
              KOPIA_WEB_ENABLED: true
              KOPIA_WEB_PORT: &port 80
              KOPIA_CONFIG_PATH: /config/repository.config
              KOPIA_CACHE_DIRECTORY: /config/cache
              KOPIA_LOG_DIR: /config/logs
              TZ: Europe/Paris
            envFrom:
              - secretRef:
                  name: kopia-secret
            args:
              - --without-password
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 60
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 4Gi
      kopia-maintenance:
        type: cronjob
        cronjob:
          schedule: "0 */6 * * *"
          backoffLimit: 1
          concurrencyPolicy: Forbid
          successfulJobsHistory: 3
          failedJobsHistory: 3
          ttlSecondsAfterFinished: 86400
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/kopia
              tag: 0.22.3@sha256:17ab64542280197a5368247deaefadc3e3bbe15714ab666c2455a06824e86efd
            env:
              KOPIA_CONFIG_PATH: /config/repository.config
              KOPIA_CACHE_DIRECTORY: /config/cache
              KOPIA_LOG_DIR: /config/logs
              TZ: Europe/Paris
            envFrom:
              - secretRef:
                  name: kopia-secret
            command: ["/bin/sh", "-c"]
            args:
              - |
                cp /config/config-source/repository.config /config/repository.config &&
                kopia repository connect from-config --file=/config/repository.config --override-hostname=volsync.volsync-system.svc.cluster.local --override-username=volsync &&
                kopia maintenance run --full &&
                kopia maintenance info
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 2Gi
        pod:
          restartPolicy: Never
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: kopia
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/enabled: "true"
          gatus.home-operations.com/endpoint: |-
            conditions: ["len([BODY]) == 0"]
            dns:
              query-name: {{ .Release.Name }}.g-eye.io
              query-type: A
            url: 1.1.1.1
        hostnames:
          - "{{ .Release.Name }}.g-eye.io"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
    persistence:
      config:
        type: emptyDir
        globalMounts:
          - path: /config
      config-file:
        type: configMap
        name: kopia-repository-configmap
        advancedMounts:
          kopia:
            app:
              - path: /config/repository.config
                subPath: repository.config
                readOnly: true
          kopia-maintenance:
            app:
              - path: /config/config-source/repository.config
                subPath: repository.config
                readOnly: true
