---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: homepage
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: homepage-secret
    template:
      data:
        HOMEPAGE_VAR_SONARR_API_KEY: "{{ .SONARR_API_KEY }}"
        HOMEPAGE_VAR_RADARR_API_KEY: "{{ .RADARR_API_KEY }}"
        HOMEPAGE_VAR_PROWLARR_API_KEY: "{{ .PROWLARR_API_KEY }}"
        HOMEPAGE_VAR_SABNZBD_API_KEY: "{{ .SABNZBD_API_KEY }}"
        HOMEPAGE_VAR_PLEX_TOKEN: "{{ .PLEX_TOKEN }}"
        HOMEPAGE_VAR_JELLYSEERR_API_KEY: "{{ .JELLYSEERR_API_KEY }}"
        HOMEPAGE_VAR_PIHOLE_API_KEY: "{{ .PIHOLE_API_KEY }}"
  dataFrom:
    - extract:
        key: sonarr
    - extract:
        key: radarr
    - extract:
        key: prowlarr
    - extract:
        key: sabnzbd
    - extract:
        key: plex
    - extract:
        key: jellyseerr
    - extract:
        key: pihole
