{
  "storage": {
    "type": "s3",
    "config": {
      "bucket": "volsynckopia",
      "endpoint": "nas.g-eye.tech:3900",
      "prefix": "volsynckopia/",
      "doNotUseTLS": true,
      "doNotVerifyTLS": true,
      "region": "garage"
    }
  },
  "caching": {
    "cacheDirectory": "/config/cache",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "volsync.volsync-system.svc.cluster.local",
  "username": "volsync",
  "description": "Repository in S3: nas.g-eye.tech:3900 volsynckopia",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}
