{
  "storage": {
    "type": "s3",
    "config": {
      "bucket": "volsynckopia",
      "endpoint": "nas.g-eye.tech:3900",
      "region": "garage",
      "doNotUseTLS": true,
      "doNotVerifyTLS": true
    }
  },
  "hostname": "volsync.volsync-system.svc.cluster.local",
  "username": "volsync",
  "description": "volsync",
  "enableActions": false
}
